@font-face {
    font-family: fontFigma;
    src: url(fonts/IBMPlexMono-Bold.ttf);
}
body {
    background: white;
    font-family: "fontFigma";
}

.titolo {
    margin-left: 3.5vw;
    color: orange;
    font-size: 4rem;
    margin-bottom: 1px;
}

.sottotitolo {
    margin-left: 3.5vw;
    margin-top: 1px;
    color: #FFBB7C;
    margin-bottom: 5px;
}

h4{
    color: orange;
}
.container1 {
    display: flex;
    text-align: center;
    align-items: normal;
    padding: 1rem;
    border-radius: 1rem;
    margin:1rem;
    margin-left: 3.5vw;
    width: 90vw;
    height: 80vh;
    background-color: #FFBB7C;
}

.aggiungi {
    border-radius: 1rem;
    width: 5rem;
    height: 5rem;
    background-color: #FF9E43;
    right: 1rem;
    bottom: 1rem;
    position: fixed;
    cursor: pointer;
}

.piu1, .piu2 {
    position: absolute;
    background-color: white;
}

.piu1 {
    width: 0.5rem;
    height: 4rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.piu2 {
    width: 4rem;
    height: 0.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.info {
    border-radius: 0.5rem;
    width: 95%;
    height: 10rem;
    background-color: white;
    border: 2px solid #FF9E43;
    margin: 1.5rem 3rem;
}

.textInfo {
    margin-top: 0;
    text-align: left;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.aggiungi:hover {
    background-color: #f68a31;
}

.aggiungi:hover .piu1, .aggiungi:hover .piu2 {
    background-color: rgb(241, 237, 237);
}

.img-container {
    width: 5rem;
    height: 5rem;
    border: 0.3rem solid #FF9E43;
    background: none;
    border-radius: 100%;
    position: absolute;
    right: 5.5rem;
    transform: translateY(-50%);
    z-index: 2;
    margin-bottom: 1rem;
}

.img {
    width: 7.4rem;
    height: 7.9rem;
    border-radius: 100%;
    position: absolute;
    right: 4rem;
    transform: translateY(-50%);
    z-index: 1;
}

.add {
    position: absolute;
    border-radius: 2rem;
    width: 83%;
    height: 55rem;
    background-color: white;
    margin-top: 12.5rem;
    border: 2px solid black;
    z-index: 2;
    margin-left: 6.5rem;
    display: none; 
}

.name, .information {
    color: black;
    font-weight: bold;
    background-color: #FFBB7C;
    border-radius: 0.4rem;
    padding: 0.5rem;
    outline: none;
}

.name {
    margin-top: 0rem;
    margin-left: 2rem;
    width: 67rem;
    height: 5rem;
}

.information {
    margin-top: 1rem;
    margin-left: 2rem;
    width: 67rem;
    height: 37rem;
}

.name:focus, .information:focus {
    border: 2px solid #FF9E43;
    background-color: #FFDEA8;
}

.addButton {
    display: block;
    margin: 1rem 2rem;
    padding: 0.5rem 1rem;
    background-color: #FF9E43;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.addButton:hover {
    background-color: #f68a31;
}

.profilo {
    display: block;
    position: absolute;
    right: 5rem;
    top: 11rem; 
    background-color: #FFBB7C;
    color: black;
    padding:0.3rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    text-align: center;
    height:1.2rem;
    font-family: "fontFigma";
    padding-bottom: 1.5rem;
}

.profilo:hover {
    background-color: #ffa500;
}

.visualizza {
    float: right;
    margin-right: 1rem;
    background-color: #FF9E43; 
    color: white; 
    border: none; 
    border-radius: 0.5rem; 
    padding: 0.5rem 1rem; 
    cursor: pointer; 
    font-weight: bold;
	z-index:9999;
}

.visualizza:hover {
    background-color: #f68a31; 
    color: white; 
}
