@font-face {
    font-family: fontFigma;
    src: url(fonts/IBMPlexMono-Bold.ttf);
}

body {
    background: white;
    font-family: "fontFigma";
}

.form-popup {
    display: none;
    position: fixed;
    z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    height: 700px;
    max-width: 400px;
    max-height: 700px;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    margin-top: 20px;
    background: orange;
    color: black;
    font-weight: bold;
    padding: 16px 20px;
    border-radius: 0.5rem; 
    cursor: pointer;
    width: 90%;
    margin-bottom: 10px;
    opacity: 0.8;
	margin-left:1rem;
}

.form-container .btn:hover {
    opacity: 1;
}

.cancel {
    background-color: red;
}

.form-container h1 {
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
}

.form-container b {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img {
    width: 300px; 
    height: auto; 
    margin-left: 39%;
    margin-top: 5%;
}

.text-logo {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0; 
    color: orange;
}

.rigaHome hr {
    width: 25%;
    height: 4px;
    margin: 0 auto; 
    border-color: orange; 
    background: orange;
}

.rigaLogin hr {
    width: 70%;
    height: 4px;
    margin: 0 auto; 
    border-color: orange;    
    background: orange;
    margin-bottom: 1px;
}

.h2Login {
    font-size: 2rem;
    text-align: center;
    color: orange;
}

button.btn.cancel {    
    margin-top: 0px;
    background: none;
    border: none;
}

.button.btn.cancel:hover {    
    margin-top: 0px;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 4rem;
}

.slogan {
    color: orange;
    margin-top: 6px;
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
}

.button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-button {
    padding: 10px 20px;
	width:12rem;
	height:4rem;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
	background-color:orange;
	border:2px solid black;
	border-radius:8px;
	opacity: 0.8;
}
.register-button:hover {
    opacity: 1;
}

.login-button{
	width:12rem;
	height:4rem;
	background-color:orange;
	border:none;
	padding: 10px 20px;
    margin-top: 6rem;
    font-size: 16px;
    cursor: pointer;
	border:2px solid black;
	border-radius:8px;
	opacity: 0.8;
}
.login-button:hover {
    opacity: 1;
}
.or-text {
    font-size: 16px;
    margin: 10px;
}
