@font-face {
    font-family: fontFigma;
    src: url(fonts/IBMPlexMono-Bold.ttf);
}
body {
    text-align: center;
    background: white;
    font-family: "fontFigma";
}

.contenitore{
    position: fixed;
        top: 1rem;
        right: 20vw;
        bottom: 1rem;
        left: 20vw;
        background-color:#FFBB7C;
    border-radius: 1.5rem;
}
.button {
    border: none;
    outline: none;
    width: 5rem;
    height: 2rem;
    flex-shrink: 0;
    background-color: #FF9E43;
    border-radius: 0.5rem;
    right: 1rem;
    bottom: 1rem;
}

.conteinerVolt{
    align-items: center;
    vertical-align: middle;
    border-radius: 0.5rem;
    display: inline-block;
    margin-bottom: 1rem;
    width: 5rem;
    height: 3rem;
    background-color: white;
    border: 3px solid #FF9E43;
}
.uscita {
    color: #ffffff;
    font-family: "fontFigma";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}

.img {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5%;
    width: 23rem;
    height: 15rem;
    background-color: none;
    margin-top: 5rem;
}

.posizione {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
}

.container {
    display: flex;
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
    width: 90%;
    height: 1000px;
    background-color:#FFBB7C;
    margin: 0 3rem;
}



hr {
    margin-top: 1px;
    width: 15rem;
    color: black;
    height: 3px;
    background-color: #000;
    border: none;
}

h2 {
    margin-bottom: 1px;
}

@media (max-width: 40em){
    .contenitore{
        position: fixed;
            top: 1rem;
            right: 1REM;
            bottom: 1rem;
            left: 1rem;
            background-color:#FFBB7C;
        border-radius: 1.5rem;
    }
}